html,
body {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  color: #444;
  font-weight: 300;
}

h1,
h2,
h3 {
  margin: 0;
  font-size: 1em;
  font-family: "Abril Fatface", cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
