$size: 6rem;

.image {
  position: relative;
  width: $size;
  height: $size;
  flex: 0 0 auto;

  &__poster {
    width: $size;
    height: $size;
    object-fit: cover;
    border-radius: 1rem;
  }

  &__blur {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: $size;
    height: $size;
    object-fit: cover;
    filter: blur(1rem);
    border-radius: 1rem;
    z-index: -1;
  }

  &__placeholder {
    width: $size;
    height: $size;
    background: transparent url("/empty0.png") center center no-repeat;
    background-size: cover;
    border-radius: 1rem;

    &:hover {
      background-image: url("/empty.gif");
    }
  }
}
