@use "styles/var";

.container {
  width: 90vw;
  margin: 4rem auto;
}

.padding_h {
  padding: 0 1rem;
}

.padding_b_2 {
  padding: 0 0 2rem 0;
}

.blue {
  color: var.$blue;
}

.header {
  font-size: 1.5rem;
  margin: 1rem;
}

@media only screen and (min-device-width: var.$phoneWidth) {
  .container {
    width: 80vw;
    max-width: 1024px;
  }

  .header {
    font-size: 2rem;
  }
}
